# Ignore environment variables
.env

# Ignore node_modules folder (which contains installed dependencies)
node_modules/

# Ignore log files
*.log

# Ignore production build files (if applicable)
/build
